<!DOCTYPE html>
<html>

<head>

  <title>Helping Homes</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="node_modules/vue/vue.min.js"></script>
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <img src="static/header.jpg"><br>
    <h1>Helping Homes</h1><br>

    <h4>About</h4><br>

    <p>Homeowners Who Help gives you the opportunity to help 
    someone in a crisis situation find a permanent home faster. 
    They might have experienced a divorce, domestic violence or 
    an illness which makes it much more challenging to find a home faster.<br>
    We partner with social housing providers across Sydney, to help people struggling 
    to find somewhere to live get the first option to apply for your place.</p><br>
        
        
    <h4>How does it work?</h4><br>
    
    <p>Simply opt-in to the Homeowners Who Help program. 
        We will send your listing to social housing providers who 
        can let people in need know about your listing first. 
        After three days, we will publicly list your property 
        on the domain.com.au site for all applicants to find.</p><br>

    <h3>List house on Domain</h3><br>
    <form method="POST">
      <fieldset>
      Address: <input type="text" name="address"><br>
      opt-in: <input type="checkbox" name="homeownershelp"><br> 
      <input type="submit" value="Submit">
          </fieldset>
      </form><br>
    
    <h3>FAQs</h3><br>
    
    <p>Will the applicants be able to pay rent?<br><br>
      
    All applicants go through the same processes at any 
    other tenant you’d have in your property, so credit 
    checks can be performed as needed, however, we 
    appreciate that some applicants might be in a 
    situation where they are searching for work, 
    or have limited access to funds. It’s at your discretion.<br><br>
      
      
    Are the applicants willing to look after the property?<br><br>
      
      Applicants have come out of a tough time, so we think they 
      are likely to value a property more than others. However, 
      like all tenants, we recommend reviewing your lease to include 
      damage costs which may occur in the usual wear-and-tear of property.<br><br>
      
      
      Should I allow pets?<br><br>
      
      If you want to allow pets in your property, there are plenty of people who see 
      their pets are their lifeline. Opening up your home to someone in need and their 
      furry best friend means someone has an even greater chance of finding a new house 
      to call home.<br><br>
      
      How long is the tenancy?<br><br>
      
      We recommend a minimum tenancy period of three months.<br><br>

      Nice heading image. Who created that?<br><br>

      Header image Attribution to "David Revoy, www.davidrevoy.com".
      
      
      
    
    
    </body>